@model Car.Core.CarData.CarDataDeleteViewModel

<div class="card">
    <div class="card-header bg-danger text-white">
        Delete
    </div>
    <div class="card-body">
        <hr />
        <div class="movetable">
            <dl class="row">
                <div class="form-group row">
                    <dt class="col-sm-2 col-form-label font-weight-bold">ID</dt>
                    <dd class="col-sm-10">@Html.DisplayFor(model => Model.Id)</dd>
                </div>

                <div class="form-group row">
                    <dt class="col-sm-2 col-form-label font-weight-bold">Mark</dt>
                    <dd class="col-sm-10">@Html.DisplayFor(model => Model.Mark)</dd>
                </div>

                <div class="form-group row">
                    <dt class="col-sm-2 col-form-label font-weight-bold">Brand</dt>
                    <dd class="col-sm-10">@Html.DisplayFor(model => Model.Brand)</dd>
                </div>

                <div class="form-group row">
                    <dt class="col-sm-2 col-form-label font-weight-bold">Body Type</dt>
                    <dd class="col-sm-10">@Html.DisplayFor(model => Model.BodyType)</dd>
                </div>

                <div class="form-group row">
                    <dt class="col-sm-2 col-form-label font-weight-bold">Building Year</dt>
                    <dd class="col-sm-10">@Html.DisplayFor(model => Model.BuildingYear)</dd>
                </div>

                <div class="form-group row">
                    <dt class="col-sm-2 col-form-label font-weight-bold">Engine Capacity</dt>
                    <dd class="col-sm-10">@Html.DisplayFor(model => Model.EngineCapacity)</dd>
                </div>

                <div class="form-group row">
                    <dt class="col-sm-2 col-form-label font-weight-bold">Engine Power</dt>
                    <dd class="col-sm-10">@Html.DisplayFor(model => Model.EnginePower)</dd>
                </div>

                <div class="form-group row">
                    <dt class="col-sm-2 col-form-label font-weight-bold">Fuel Type</dt>
                    <dd class="col-sm-10">@Html.DisplayFor(model => Model.FuelType)</dd>
                </div>

                <div class="form-group row">
                    <dt class="col-sm-2 col-form-label font-weight-bold">Created At</dt>
                    <dd class="col-sm-10">@Html.DisplayFor(model => Model.CreatedAt)</dd>
                </div>

                <div class="form-group row">
                    <dt class="col-sm-2 col-form-label font-weight-bold">Modified</dt>
                    <dd class="col-sm-10">@Html.DisplayFor(model => Model.Modifieted)</dd>
                </div>
            </dl>
        </div>
    </div>
    <div class="card-footer">
        <form asp-action="DeleteConfirmation">
            <input type="hidden" asp-for="Id" />
            <input type="submit" style="width: 10%;" value="Delete" class="btn btn-danger" />
            <a asp-action="index" style="width: 10%; margin-left: 1%;" class="btn btn-primary">Back</a>
        </form>
    </div>
</div>
