@model Car.Core.CarData.CarDataDetailsViewModel

<div class="card">
    <div class="card-header bg-primary text-white">Details</div>
    <div class="card-body">
        <table class="table">
            <tbody>
                <tr>
                    <th class="font-weight-bold">ID</th>
                    <td>@Html.DisplayFor(model => Model.Id, new { @class = "form-control-plaintext" })</td>
                </tr>
                <tr>
                    <th class="font-weight-bold">Mark</th>
                    <td>@Html.DisplayFor(model => Model.Mark, new { @class = "form-control-plaintext" })</td>
                </tr>
                <tr>
                    <th class="font-weight-bold">Brand</th>
                    <td>@Html.DisplayFor(model => Model.Brand, new { @class = "form-control-plaintext" })</td>
                </tr>
                <tr>
                    <th class="font-weight-bold">Body Type</th>
                    <td>@Html.DisplayFor(model => Model.BodyType, new { @class = "form-control-plaintext" })</td>
                </tr>
                <tr>
                    <th class="font-weight-bold">Building Year</th>
                    <td>@Html.DisplayFor(model => Model.BuildingYear, new { @class = "form-control-plaintext" })</td>
                </tr>
                <tr>
                    <th class="font-weight-bold">Engine Capacity</th>
                    <td>@Html.DisplayFor(model => Model.EngineCapacity, new { @class = "form-control-plaintext" })</td>
                </tr>
                <tr>
                    <th class="font-weight-bold">Engine Power</th>
                    <td>@Html.DisplayFor(model => Model.EnginePower, new { @class = "form-control-plaintext" })</td>
                </tr>
                <tr>
                    <th class="font-weight-bold">Fuel Type</th>
                    <td>@Html.DisplayFor(model => Model.FuelType, new { @class = "form-control-plaintext" })</td>
                </tr>
                <tr>
                    <th class="font-weight-bold">Created At</th>
                    <td>@Html.DisplayFor(model => Model.CreatedAt, new { @class = "form-control-plaintext" })</td>
                </tr>
                <tr>
                    <th class="font-weight-bold">Modified</th>
                    <td>@Html.DisplayFor(model => Model.Modifieted, new { @class = "form-control-plaintext" })</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <a asp-action="index" class="btn btn-primary">Back</a>
    </div>
</div>
