@model Car.Models.CarData.CarDataDetailsViewModel

<div class="card-header">Details</div>
<div class="card-body">
    <div class="form-group row">
        <label asp-for="Id" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => Model.Id)
    </div>

    <div class="form-group row">
        <label asp-for="Mark" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => Model.Mark)
    </div>

    <div class="form-group row">
        <label asp-for="Brand" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => Model.Brand)
    </div>

    <div class="form-group row">
        <label asp-for="BodyType" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => Model.BodyType)
    </div>

    <div class="form-group row">
        <label asp-for="BuildingYear" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => Model.BuildingYear)
    </div>
    <div class="form-group row">
        <label asp-for="EngineCapacity" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => Model.EngineCapacity)
    </div>
    <div class="form-group row">
        <label asp-for="EnginePower" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => Model.EnginePower)
    </div>
    <div class="form-group row">
        <label asp-for="FuelType" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => Model.FuelType)
    </div>

    <div class="form-group row">
        <label asp-for="CreatedAt" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => Model.CreatedAt)
    </div>

    <div class="form-group row">
        <label asp-for="Modifieted" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => Model.Modifieted)
    </div>


<div>
    <a asp-action="index" class="btn btn-primary" style="margin-top:10px;margin-left:1vw:">Back</a>
</div>


