@model IEnumerable<Car.Core.CarData.CarDataIndexViewModel>

<div class="card-header">CarData</div>
@{
    int rowNumber = 1;
}
<div>
    <a asp-action="Create" style="margin:10px;" asp-controller="CarData" class="btn btn-primary">Create</a>
</div>


<form method="post">

    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">Nr</th>
                <th scope="col">Brand</th>
                <th scope="col">Mark</th>
                <th scope="col">BuildingYear</th>
                <th scope="col">EngineCapacity</th>
                <th scope="col">FuelType</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var carData in Model)
            {
                <tr>
                    <td>@rowNumber</td>
                    <td>@(string.IsNullOrEmpty(carData.Brand) ? "N/A" : carData.Brand)</td>
                    <td>@(string.IsNullOrEmpty(carData.Mark) ? "N/A" : carData.Mark)</td>
                    <td>@(carData.BuildingYear == 0 ? "N/A" : carData.BuildingYear.ToString())</td>
                    <td>@(carData.EngineCapacity == 0 ? "N/A" : carData.EngineCapacity.ToString())</td>
                    <td>@(string.IsNullOrEmpty(carData.FuelType) ? "N/A" : carData.FuelType)</td>
                    <td>
                        <div style="display: flex; gap: 5px;">
                            <a asp-action="Details" asp-controller="CarData" asp-route-id="@carData.Id" class="btn btn-info">Details</a>
                            <a asp-action="Update" asp-controller="CarData" asp-route-id="@carData.Id" class="btn btn-primary">Update</a>
                            <a asp-action="Delete" asp-controller="CarData" asp-route-id="@carData.Id" class="btn btn-danger">Delete</a>
                        </div>
                    </td>
                </tr>
                rowNumber += 1;
            }
        </tbody>
    </table>
</form>
